.input {
  display: none;
}

.span {
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: white;
  display: inline-block;
}

.input:checked + .span {
  background-color: blue;
}
