.article {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 15px 0px rgba(70, 70, 70, 0.75);
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.titleWrapper {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.content {
  padding: 30px 0;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
  display: block;
}

.article.completed {
  background-color: #eee;
}

.article.completed .titleWrapper,
.article.completed .content {
  text-decoration: line-through;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
  }
}
