.article {
  border-radius: 15px;
  padding: 20px;
  box-shadow: 5px 5px 15px 0px rgba(70, 70, 70, 0.75);
  background-color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: end;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.titleWrapper {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.buttonWrapper {
  display: flex;
  gap: 10px;
}

.content {
  padding-top: 20px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.article.completed {
  background-color: #eee;
}

.article.completed > .header,
.article.completed > .content {
  text-decoration: line-through;
}
