.button {
  border-radius: 5px;
  cursor: pointer;
}

.primary {
  background-color: powderblue;
}

.dangerous {
  background-color: salmon;
  color: white;
}

.sm {
  font-size: 14px;
  padding: 5px 10px;
}

.md {
  font-size: inherit;
  padding: 10px 15px;
}

.full {
  width: 100%;
  font-size: inherit;
  padding: 10px 15px;
}
